<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Traxel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Traxel - платформа для продажи вашей музыки.">
    <meta name="author" content="KHISAMOV.Studio">

    <link href="../css/normalize.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if !IE 7]>
    <style type="text/css">
        #wrap {display:table;height:100%}
    </style>
    <![endif]-->
    <link rel="shortcut icon" href="../assets/favicon.ico">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__body responsive-wrapper">
                <div class="header__name">Traxel</div>
                <nav class="header__nav">
                    <a href="/">Главная</a>
                    <a href="/catalogue">Каталог</a>
                    <a href="/cart">Корзина</a>
                    <a href="/register">Регистрация</a>
                    <button>Меню</button>
                </nav>
            </div>
        </header>
        <main class="main">
            <div class="main__body responsive-wrapper">
                <article class="widget">
                    <form th:action="@{/register}" th:method="POST" th:object="${user}">
                        <h2>Псевдоним</h2>
                        <input th:field="*{nickname}" type="text" class="widget__input" placeholder="Например, Саня Молодой">
                        <p th:each="error : ${#fields.errors('nickname')}"
                           th:text="${error}">Ошибка валидации</p>
                        <h2>Электронная почта</h2>
                        <input th:field="*{email}" type="email" class="widget__input" placeholder="Например, sanya@mail.com">
                        <p th:each="error : ${#fields.errors('email')}"
                           th:text="${error}">Ошибка валидации</p>
                        <h2>Пароль</h2>
                        <input th:field="*{password}" type="password" class="widget__input">
                        <p th:each="error : ${#fields.errors('password')}"
                           th:text="${error}">Ошибка валидации</p>
                        <h2>Повторите пароль</h2>
                        <input th:field="*{matchingPassword}" type="password" class="widget__input">
                        <input type="submit" class="widget__button" value="Зарегистрироваться"></input>
                    </form>
                    <p>У вас уже есть аккаунт? <a href="/login">Войти</a></p>
                </article>
            </div>
        </main>
    </div>
</body>
</html>